* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  text-decoration: none;
}

body {
  overflow: hidden;
  margin: 0;
  font-family: 'Open Sans';
}

body h1 {
  font-size: 14px;
}

body h3 {
  font-weight: 600;
  font-size: 14px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 15px;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 3px #f3f7f8;
          box-shadow: 0 2px 3px #f3f7f8;
  color: white;
  font-weight: 700;
  font-size: 14px;
  cursor: pointer;
}

aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0;
  width: 150px;
  background-color: #0e4484;
  color: white;
}

aside .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 115px;
  text-transform: uppercase;
}

aside .sidebar .sidebar-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
}

aside .sidebar a {
  color: white;
}

aside .item-hover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
  width: 118px;
  height: 70px;
  border-radius: 5px;
}

aside .item-hover:hover {
  background-color: #063670;
  font-weight: 700;
  cursor: pointer;
}

aside .item-hover:active {
  background-color: #e3f5ff;
  color: #0e4484;
  font-weight: 700;
  cursor: pointer;
}

aside .item-hover:active a {
  color: #0e4484;
  font-weight: 700;
}

aside .item-hover:focus {
  outline: none;
}

aside .item-dashboard {
  background-color: #e3f5ff;
  color: #0e4484;
  pointer-events: none;
}

aside .item-dashboard a {
  color: #0e4484;
  font-weight: 700;
}

aside .item-dashboard a:not(:last-child) {
  padding-bottom: 30px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 30px 30px 15px 30px;
}

.main-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 210px;
}

.main-buttons .expense {
  background-color: #ff395d;
}

.main-buttons .income {
  background-color: #26de81;
}

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100%;
}

.main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 0 15px;
  width: 100%;
  height: 100%;
}

.main-area .tile {
  padding: 15px;
  border: 1px solid #caeaff;
  border-radius: 5px;
  font-size: 14px;
}

.main-area .tile .tile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: #caeaff;
  color: #0e4484;
  font-weight: 700;
}

.main-area .tile .tile-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 15px;
  padding: 15px;
  color: #0e4484;
}

.main-area .tile .tile-content .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-area .tile .tile-content .content .card-budget-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 30px;
}

.main-area .tile .tile-content .content .card-budget-bar .bar-budget {
  width: 1000px;
}

.main-area .tile .tile-content .content .card-budget-bar .progress {
  height: 20px;
  background-color: #f3f7f8;
}

.main-area .tile .tile-content .content:not(:last-child) {
  padding-bottom: 30px;
}

.col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
}

.col-2 .row-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.col-2 .row-1 .tile {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.tile {
  margin: 15px;
}

.content-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 30px;
}

.content-bar .bar-budget {
  width: 1000px;
}

.content-bar .progress {
  height: 20px;
  background-color: #f3f7f8;
}

.content-bar .bar-goal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 300px;
}

.today-tooltip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 15px;
}

.today-tooltip-container .tooltip-move-area {
  width: 70px;
}

.today-tooltip-container #today-tooltip {
  margin-bottom: 35px;
  width: 82px;
}

.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(14, 68, 132, 0.5);
}

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 15px 0;
  padding: 15px;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  border-radius: 5px;
  background: white;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  border-radius: 5px;
  background-color: #caeaff;
  color: #0e4484;
}

.header p {
  margin: 15px;
  font-weight: 700;
  font-size: 14px;
}

.content {
  overflow: auto;
  max-height: 100%;
  width: 100%;
}

.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.modal-footer .validation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.modal-footer .add-item {
  background-color: white;
  color: #0e4484;
}

.modal-footer .cancel {
  margin-right: 15px;
  background-color: white;
  color: #0e4484;
}

.modal-footer .submit {
  background-color: #0e4484;
  color: white;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 15px;
  color: #0e4484;
}

.row .remove-button {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  color: #0e4484;
}

.row .remove-button:hover {
  background-color: #e3f5ff;
  cursor: pointer;
}

.row .remove-button:active {
  background-color: #caeaff;
}

.row .remove-button.disabled {
  color: #e3f5ff;
  pointer-events: none;
}

.row .remove-button .fa-times {
  margin-top: 4px;
  margin-left: 5px;
  font-size: 12px;
}

.dropdowns-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 350px;
}

.modal-dropdown {
  margin-left: 15px;
}

.dropdown {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.dropdown input[type=text] {
  padding: 12px 15px;
  width: 160px;
  height: 48px;
  outline: none;
  border: 1px solid #caeaff;
  border-radius: 5px;
}

.dropdown span {
  color: #0e4484;
}

.dropdown a {
  color: #0e4484;
}

.dropdown .dropdown-input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 15px;
  width: 160px;
  border: 1px solid #caeaff;
  border-radius: 5px;
  cursor: pointer;
}

.dropdown .dropdown-input .fas {
  color: #caeaff;
}

.dropdown .dropdown-input .category-expense {
  width: 200px;
  text-align: right;
}

.dropdown .dropdown-list {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: scroll;
  margin-top: 40px;
  padding: 15px;
  max-height: 160px;
  width: 160px;
  border: 1px solid #caeaff;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background: white;
}

.dropdown .dropdown-list a {
  margin-bottom: 15px;
  color: #0e4484;
}

.dropdown .dropdown-list a:last-of-type {
  margin-bottom: 0;
}
/*# sourceMappingURL=style.css.map */