// Variables

$primaryColorDark: #063670;
$primaryColor: #0E4484;

$secondaryColor: #CAEAFF;
$secondaryColorLight: #E3F5FF;

$redColor: #FF395D;
$greenColor: #26DE81;
$blueColor: #00C9FF;

$progressBarDefault: #F3F7F8;


// The rest of the code
*{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
}

body {
    margin: 0px;
    font-family: 'Open Sans';
}
 
.sidebar {
    width: 150px;
    margin: 0px;
    background-color: $primaryColor;
    display: flex;
    flex-direction: column;
    color: white;
    .menu-list {
        margin-top: 115px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-transform: uppercase;
        align-items: center;
        .menu-item {
            padding-top: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 14px;
            font-weight: 600;
            text-decoration: none;
        }
        a {
            color: white;
        }
    }
    .side-hover {
        width: 118px;
        height: 70px;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 40px;          
        &:hover {
            background-color: $primaryColorDark;
            font-weight: 700px;
            cursor: pointer;
        }
        &:active {
            background-color: $secondaryColorLight;
            color: $primaryColor;
            font-weight: 700px;
            cursor: pointer;
            a {
                color:$primaryColor;
                font-weight: 700px;
            }
        }
    }
    .dashboard, .dashboard:hover{
        background-color: $secondaryColorLight;
        color: $primaryColor;
        a {
            color:$primaryColor;
            font-weight: 700px;
        }
    }
}

.container {
    display: flex;
}

// Navigation menu

.navigation-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 30px;
    height: fit-content;
}

.dropdown-filter {
    color: $primaryColor;
    display: flex;
    justify-content: space-between;
    .dropdown {
        cursor: pointer;
        border-radius: 5px;
        border: 1px solid $secondaryColor;
        padding: 10px 15px;
        margin-right: 30px;
        height: fit-content;
    }
    .fa-sort-down {
        color: $secondaryColor;
    }
}

.main-buttons {
    border-radius: 5px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
    color: white;
    .button {
        cursor: pointer;
        height: fit-content;
        border-radius: 5px;
        margin-left: 30px;
        padding: 10px 15px;
    }
    .expense {
            background-color: $redColor;
    
    }
    .income {
            background-color: $greenColor;
    }
}

// Dashboard

.dashboard {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main-area {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding: 0 15px;
    .tile {
        font-size: 14px;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid $secondaryColor;
        .tile-header {
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            padding: 10px;
            border-radius: 5px;
            background-color: $secondaryColor;
            color: $primaryColor;
        }
        .tile-content {
            display: flex;
            flex-direction: column;
            margin-top: 15px;
            padding: 15px;
            color: $primaryColor;
            .content {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .card-budget-bar {
                    display: flex; 
                    margin-right: 30px;
                    .bar-budget {
                        width: 1000px;
                    }
                    .progress {
                        height: 20px;
                        background-color: $progressBarDefault;
                    }
                }
                &:not(:last-child) {
                    padding-bottom: 30px;
                }
            }
        }
    }
}

.col-1 {
    display: flex;
    flex: 1;
    flex-direction: column;

}

.col-2 {
    display: flex;
    flex: 3;
    flex-direction: column;
    .row-1 {
        flex-shrink: 0;
        display: flex;
        .tile {
            flex: 1;
        }
    }
}

.tile {
    margin: 15px;
}

.content-bar {
    display: flex; 
    justify-content: center;
    padding-bottom: 30px;
    .bar-budget {
        width: 1000px;
    }
    .progress {
        height: 20px;
        background-color: $progressBarDefault;
    }
    .bar-goal {
        width: 300px;
        display: flex;
        align-items: center;
    }
}

.today-tooltip-container {
    display: flex;
    justify-content: flex-end;
    margin: 15px;
    .tooltip-move-area {
        width: 70px;
    }
    #today-tooltip {
        width: 82px;
        margin-bottom: 35px;
    }
}

/* overlay & modal */

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(14, 68, 132, 0.5);
}

.modal-container {
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    flex-grow: 0;
    width: 600px;
    border-radius: 5px;
    background: white;
    padding: 15px;
    margin: 15px 0;
    width: 600px;
}

.header {
    flex-shrink: 0;
    border-radius: 5px;
    background-color: $secondaryColor;
    display: flex;
    justify-content: space-between;
    color: $primaryColor;
    p {
        margin: 15px;
        font-size: 14px;
        font-weight: 700;
    }
}

.content {
    max-height: 100%;
    width: 100%;
    overflow: auto;
    //padding: 15px;
}

.buttons-area {
    flex-shrink: 0;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}


.dropdown-inputs {
    display: flex;
    justify-content: space-between;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .remove-button {
        color: $primaryColor;
        margin-top: 10px;
        margin-left: 20px;
        border-radius: 50%;
        width: 18px;
        height: 18px;

        &:hover{
            cursor: pointer;
            background-color: $secondaryColorLight;
        }
        &:active{
            background-color: $secondaryColor;
        }
    }
}

.fa-times{
    font-size: 12px;
    margin-top: 4px;
    margin-left: 5px;
}



.dropdown {
    margin-left: 15px;
    margin-top: 15px;
    width: 160px;
    padding: 12px 15px;
    border-radius: 5px;
    border: 1px solid $secondaryColor;
    color: $primaryColor;
    display: flex;
    justify-content: space-between;
    .fas {
        color: $secondaryColor;
    }
}

.category-expense {
    width: 200px;
    text-align: right;
}

.validation-buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    font-size: 14px;
    font-weight: 700;
    height: 38px;
    width: 82px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #F3F7F8;
    cursor: pointer;
}

.add-item {
    color: $primaryColor;
    background-color: white;
}

.cancel {
    color: $primaryColor;
    background-color: white;
}

.submit {
    color: white;
    background-color: $primaryColor;
}









