* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-decoration: none;
  margin: 0; }

body {
  margin: 0px;
  font-family: 'Open Sans'; }

.sidebar {
  width: 150px;
  margin: 0px;
  background-color: #0E4484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: white; }
  .sidebar .menu-list {
    margin-top: 115px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-transform: uppercase;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sidebar .menu-list .menu-item {
      padding-top: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      font-weight: 600;
      text-decoration: none; }
    .sidebar .menu-list a {
      color: white; }
  .sidebar .side-hover {
    width: 118px;
    height: 70px;
    border-radius: 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-bottom: 40px; }
    .sidebar .side-hover:hover {
      background-color: #063670;
      font-weight: 700px;
      cursor: pointer; }
    .sidebar .side-hover:active {
      background-color: #E3F5FF;
      color: #0E4484;
      font-weight: 700px;
      cursor: pointer; }
      .sidebar .side-hover:active a {
        color: #0E4484;
        font-weight: 700px; }
  .sidebar .dashboard, .sidebar .dashboard:hover {
    background-color: #E3F5FF;
    color: #0E4484; }
    .sidebar .dashboard a, .sidebar .dashboard:hover a {
      color: #0E4484;
      font-weight: 700px; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.navigation-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  padding: 30px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content; }

.dropdown-filter {
  color: #0E4484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .dropdown-filter .navigation-dropdown {
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #CAEAFF;
    padding: 10px 15px;
    margin-right: 30px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content; }
  .dropdown-filter .fa-sort-down {
    color: #CAEAFF; }

.main-buttons {
  border-radius: 5px;
  font-weight: 600;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: white; }
  .main-buttons .button {
    cursor: pointer;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    border-radius: 5px;
    margin-left: 30px;
    padding: 10px 15px; }
  .main-buttons .expense {
    background-color: #FF395D; }
  .main-buttons .income {
    background-color: #26DE81; }

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  height: 100%; }

.main-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
  height: 100%;
  padding: 0 15px; }
  .main-area .tile {
    font-size: 14px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #CAEAFF; }
    .main-area .tile .tile-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      font-weight: 700;
      padding: 10px;
      border-radius: 5px;
      background-color: #CAEAFF;
      color: #0E4484; }
    .main-area .tile .tile-content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      margin-top: 15px;
      padding: 15px;
      color: #0E4484; }
      .main-area .tile .tile-content .content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .main-area .tile .tile-content .content .card-budget-bar {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-right: 30px; }
          .main-area .tile .tile-content .content .card-budget-bar .bar-budget {
            width: 1000px; }
          .main-area .tile .tile-content .content .card-budget-bar .progress {
            height: 20px;
            background-color: #F3F7F8; }
        .main-area .tile .tile-content .content:not(:last-child) {
          padding-bottom: 30px; }

.col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  .col-2 .row-1 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .col-2 .row-1 .tile {
      -webkit-box-flex: 1;
      -ms-flex: 1;
      flex: 1; }

.tile {
  margin: 15px; }

.content-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 30px; }
  .content-bar .bar-budget {
    width: 1000px; }
  .content-bar .progress {
    height: 20px;
    background-color: #F3F7F8; }
  .content-bar .bar-goal {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

.today-tooltip-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 15px; }
  .today-tooltip-container .tooltip-move-area {
    width: 70px; }
  .today-tooltip-container #today-tooltip {
    width: 82px;
    margin-bottom: 35px; }

/* overlay & modal */
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: rgba(14, 68, 132, 0.5); }

.modal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  border-radius: 5px;
  background: white;
  padding: 15px;
  margin: 15px 0; }

.header {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  border-radius: 5px;
  background-color: #CAEAFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #0E4484; }
  .header p {
    margin: 15px;
    font-size: 14px;
    font-weight: 700; }

.content {
  max-height: 100%;
  width: 100%;
  overflow: auto; }

.buttons-area {
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.dropdown-inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  .row .remove-button {
    color: #0E4484;
    margin-top: 10px;
    margin-left: 20px;
    border-radius: 50%;
    width: 18px;
    height: 18px; }
    .row .remove-button:hover {
      cursor: pointer;
      background-color: #E3F5FF; }
    .row .remove-button:active {
      background-color: #CAEAFF; }

.fa-times {
  font-size: 12px;
  margin-top: 4px;
  margin-left: 5px; }

.dropdown {
  margin-left: 15px;
  margin-top: 15px;
  width: 160px;
  padding: 12px 15px;
  border-radius: 5px;
  border: 1px solid #CAEAFF;
  color: #0E4484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .dropdown .fas {
    color: #CAEAFF; }

.category-expense {
  width: 200px;
  text-align: right; }

.validation-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.button {
  font-size: 14px;
  font-weight: 700;
  height: 38px;
  width: 82px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 5px;
  -webkit-box-shadow: 0px 2px 3px #F3F7F8;
  box-shadow: 0px 2px 3px #F3F7F8;
  cursor: pointer; }

.add-item {
  color: #0E4484;
  background-color: white; }

.cancel {
  margin-right: 15px;
  color: #0E4484;
  background-color: white; }

.submit {
  color: white;
  background-color: #0E4484; }
